<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='styles/formulario.css')}}"
    />
    <title>Agregar Chofer</title>
  </head>
  <body>
    <div class="container">
      <h3 align="center">Chofer</h3>
      <form action="/choferes/agregar" method="POST" class="formulario">
        {{forma.csrf_token}}
        <p class="field field_v3">
          {{forma.nombre.label(class="ha-screen-reader")}}<br />
          {{forma.nombre(size=30,class="field__input")}}
          <span class="field__label-wrap" aria-hidden="true">
            {{forma.nombre.label(class="field__label")}}<br />
          </span>
        </p>
        <p class="field field_v3">
          {{forma.apellido.label(class="ha-screen-reader")}}<br />
          {{forma.apellido(size=30,class="field__input")}}
          <span class="field__label-wrap" aria-hidden="true">
            {{forma.apellido.label(class="field__label")}}<br />
          </span>
        </p>
        <p class="field field_v3">
          {{forma.telefono.label(class="ha-screen-reader")}}<br />
          {{forma.telefono(size=30,class="field__input")}}
          <span class="field__label-wrap" aria-hidden="true">
            {{forma.telefono.label(class="field__label")}}<br />
          </span>
        </p>
        <p class="field field_v3">
          {{forma.licencia.label(class="ha-screen-reader")}}<br />
          {{forma.licencia(size=30,class="field__input")}}
          <span class="field__label-wrap" aria-hidden="true">
            {{forma.licencia.label(class="field__label")}}<br />
          </span>
        </p>
        {{forma.enviar()}}
      </form>
    </div>
  </body>
</html>
